.user-menu .nav-item svg{
    display: inline-block;
    float: right;
}
.user-menu .nav-pills .nav-link{
    margin-bottom: .5rem;
}
.user-menu.bg-dark .nav-pills .nav-link:not(.active){
    border: 1px solid #fff;
    color: #fff;
}
.user-menu.bg-light .nav-pills .nav-link:not(.active){
    border: 1px solid #274059;
    color: #274059;
}
.user-menu.bg-dark .nav-pills .nav-link.active{
    background-color: #274059;
    color: fff;
}
.user-menu.bg-light .nav-pills .nav-link.active{
    background-color: #F4C430;
    color: #274059;
}
.border-primary{
    border: 1px solid #274059 !important;
}
.container{
    overflow-x: hidden;
}