/* theme dark */
.bg-black{
  background-color: black;
}
.logoimg{
  width: 13%;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0 !important;
}
.my-6{
  margin-top: 6rem!important;
  margin-bottom: 3rem!important;
}
.bg-light-black{
  background-color: #274059 !important;
}
.border-primary{
  border: 2px solid #274059 !important;
}
.text-black{
  color: black;
}
.text-light-black{
  color: #262626;
}
.bg-dark-primary{
  background-color: #fcbc73 !important;
}
.text-dark-primary{
  color: #fff !important;
}

/* theme light */
.bg-light{
  background-color: white;
}
.bg-light-2{
  background-color: white;
}
.bg-light-primary{
  background-color: #F4C430 !important;
}
.text-light-primary{
  color: #274059 !important;
}
.react-tel-input input{
  width: 100% !important;
}